/*============= ACCORDION =================*/
.calc {
  &__accordion {
    width: 90%;
    height: 66rem;
    overflow-y: auto;
    margin-top: -15rem;
    padding: 3.2rem 1.6rem;
    background-color: var(--container-color);
    border-radius: 0.8rem;
    box-shadow: 0 8px 20px hsla(267, 100%, 15%, 0.2);

    h2 {
      font-size: var(--title--font-size);
      font-weight: 400;

      span {
        font-weight: 600;
      }
    }
    &__subtitle {
      font-size: var(--small-font-size);
      font-weight: 400;
      padding: 1rem 0;
      margin-bottom: 1.4rem;
      margin-left: 3.2rem;
    }

    &__itens {
      display: grid;
      row-gap: 1.2rem;
      grid-template-columns: 100%;
    }

    &__title {
      font-size: var(--small-font-size);
      color: var(--title-color);
      font-weight: 400;
      margin-top: 0.24rem;
      transition: 0.2s;
    }

    &__header {
      display: flex;
      column-gap: 0.8rem;
      padding: 2rem 2rem 2rem 1.6rem;
      cursor: pointer;
    }

    &__icon {
      font-size: 2.4rem;
      height: max-content;
      color: var(--title-color);
      transition: 0.3s;
    }

    &__item {
      box-shadow: 0 0.2rem 0.6rem hsla(0, 0%, 15%, 0.1);
      background-color: var(--first-color-lighten);
      border-radius: 0.4rem;
      position: relative;
      transition: all 0.25s ease;
      cursor: pointer;

      &::after {
        content: "";
        background-color: var(--first-color);
        width: 0.5rem;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 0.4rem 0 0 0.4rem;
      }

      //Optional color for each accordion item

      &:nth-child(1) {
        background: hsl(28, 100, 97);

        &::after {
          background: hsl(28, 100, 77);
        }
      }

      &:nth-child(2) {
        background: hsl(240, 100, 97);

        label::before {
          border-color: hsl(240, 100, 77);
        }

        input[type="checkbox"]:checked + label::before {
          background-color: hsl(240, 100, 77);
        }

        &::after {
          background: hsl(240, 100, 77);
        }
      }

      &:nth-child(3) {
        background: hsl(348, 100, 97);

        label::before {
          border-color: hsl(348, 100, 77);
        }

        input[type="checkbox"]:checked + label::before {
          background-color: hsl(348, 100, 77);
        }

        &::after {
          background: hsl(348, 100, 77);
        }
      }

      &:nth-child(4) {
        background: hsl(200, 100, 97);

        label::before {
          border-color: hsl(200, 100, 77);
        }

        input[type="checkbox"]:checked + label::before {
          background-color: hsl(200, 100, 77);
        }

        &::after {
          background: hsl(200, 100, 77);
        }
      }
    }

    &__content {
      overflow: hidden;
      height: 0;
      transition: all 0.25s ease;
    }

    //Ajustement to the grid layout to the sliders and checkbox

    &__slider,
    &__grid {
      display: grid;
      align-items: center;
      gap: 0.6rem;
      padding: 0 2rem 2rem 4.8rem;
      font-size: var(--smaller-font-size);
    }

    &__slider {
      // grid-template-columns: 8rem 1fr 2rem;
      grid-template-columns: 1fr;

      p {
        font-weight: 600;
      }

      div {
        width: 100%;
        display: flex;
        justify-content: space-between;
      }

      div > p {
        color: var(--first-color);
        text-align: right;
        min-width: 2rem;
        margin-left: 0.6rem;
      }

      input[type="range"] {
        width: 100%;
        height: 100%;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        outline: none;
        background-color: #f2f2f2;
        overflow: hidden;
        border-radius: 2.5rem;
        padding: 0.1rem;
        box-shadow: inset 0 0 0.6rem hsla(0, 0%, 0%, 0.2);

        &::-webkit-slider-thumb,
        &::-moz-range-thumb {
          -webkit-appearance: none;
          -moz-appearance: none;
          appearance: none;
          width: 1.5rem;
          height: 1.5rem;
          border-radius: 50%;
          border: 0.2rem solid hsl(28, 100, 77);
          background-color: var(--container-color);
          cursor: pointer;
          box-shadow: -41rem 0 0 40rem hsl(28, 100, 77);
        }
      }
    }

    &__grid {
      grid-template-columns: repeat(2, 1fr);

      &__item {
        display: flex;
        align-items: center;
        z-index: 1;

        input[type="checkbox"] {
          position: absolute;
          opacity: 0;
          z-index: -1;
        }

        label {
          position: relative;
          // margin-right: 1rem;
          padding-left: 3.2rem;
          padding-right: 1.6rem;
          line-height: 2;
          cursor: pointer;

          &::before {
            content: " ";
            position: absolute;
            top: 0.1rem;
            left: 0;
            display: block;
            width: 2.4rem;
            height: 2.4rem;
            border: 0.2rem solid var(--first-color);
            border-radius: 0.25rem;
            z-index: -1;
          }
        }

        input[type="checkbox"]:checked + label {
          padding-left: 1.6rem;
          color: var(--container-color);

          &::before {
            top: 0;
            width: 100%;
            height: 2.6rem;
            background: var(--first-color);
            border: none;
          }
        }

        label,
        label::before {
          -webkit-transition: 0.25s all ease;
          -o-transition: 0.25s all ease;
          transition: 0.25s all ease;
        }
      } //accordion__grid__item
    } //accordion__grid
  } //accordion
} //calc

//divider stylish
.divider {
  width: 100%;
  height: 1px;
  display: block;
  position: relative;
  margin-bottom: 1.4rem;

  &:after,
  &:before {
    content: "";
    position: absolute;

    width: 74%;
    height: 1px;
    bottom: 50%;
    left: 15%;
  }

  &:before {
    background: linear-gradient(
      90deg,
      hsl(240, 100, 77) 0%,
      hsl(240, 100, 77) 50%,
      transparent 50%,
      transparent 100%
    );
    background-size: 1.6rem;
    background-position: center;
    z-index: 1;
  }
}

/* Rotate the plus icon and add font weight to titles*/
.accordion-open {
  //Add rotation to the icon
  & .calc__accordion__icon {
    transform: rotate(135deg);
  }

  //Add font weight to the title of the open accordion
  & .calc__accordion__title {
    font-weight: 600;
  }
}
