/*=============== LAYOUT ===============*/
.noselect{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/*=============== CALCULATOR FORM ===============*/
.calc{
    max-width: 968px;
    min-height: 100vh;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;

    &__content{
        width: 95%;
        display: flex;
        align-items: center;
        flex-direction: column;
        margin: 0 auto;
        max-height: 66rem;
    }
    &__img{
        width: 80%;

        img{
            width: 90vw;
            margin-top: 1.5rem;
            border-radius: .75rem;
        }
    }

    &__button{
        display: block;
        padding: 1.6rem;
        margin: 2rem 0;
        background-color: var(--first-color);
        color: var(--container-color);
        font-weight: 600;
        text-align: center;
        border-radius: .75rem;
        transition: .3s;

        &:hover{
            background-color: var(--first-color-dark);
        }
    }

    &__social{
        display: flex;
        width: 100%;
        justify-content: space-around;
        
        &__icon{
            font-size: 2rem;
            color: var(--first-color-dark);
        }
    }
}

/*========== FOOTER ==========*/
footer{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 5rem;
    bottom: 0;
    left: 0;
    cursor: pointer;
}

footer p{
    font-size: var(--smaller-font-size);
    color: var(--dark-grey);
}

footer p span{
    display: inline-block;
    transform: scale(1);
    transition: all .1s ease;
}

footer p:hover span{
    transform: scale(1.2);
}

/*========== SCROLL BAR ==========*/
::-webkit-scrollbar{
    width: .60rem;
    background-color: var(--scroll-bar-color);
    border-radius: .5rem;
}

::-webkit-scrollbar-thumb{
    background-color: var(--scroll-thumb-color);
    border-radius: .5rem;
}

::-webkit-scrollbar-thumb:hover{
    background-color: var(--scroll-thumb-hover);
}